.parentFlex {
    display: flex;
    justify-content: center;
}

.twothird {
    flex: 2;
    align-self: center;
    padding: 1rem;
}

.onethird {
    flex: 1;
    align-self: center;
    padding: 1rem;
}