.liStyle {
  display: inline-block;
  margin: 0;
}

.linkStyle {
  color: #fff;
  text-decoration: none;
  line-height: 75px;
  height: 75px;
  display: block;
  padding: 0 .8rem;
}

.linkStyleDark {
  color: #000;
  text-decoration: none;
}


@media (max-width: 576px) {
  .liStyle {
    display: block;
  }
}