.active {
  border-bottom: 4px solid #00567a;
}

.logoStyle {
  width: 220px;
  height: 42px;
  display: block;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1039;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.darkStyle {
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}

.respNav {
  display: none;
}

@media (max-width: 992px) {
  .nav {
    display: none;
  }
  .respNav {
    display: block;
  }
}
