.active {
  border-bottom: 4px solid #00567a !important;
}

.lightStyle {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1039;
  text-align: center;
}

.darkStyle {
  height: 75px;
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1039;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
