.blue-box {
    background: url(../../images/bubbles.png) left bottom;
    background-color: #00567A;
    background-repeat: no-repeat;
    padding: 1rem 0;
    position: relative;
    width: 100%!important;
    color: #fff;
}