.blueBoxStyle {
  background: url(../../images/bubbles.png) left bottom;
  background-color: #00567a;
  background-repeat: no-repeat;
  padding: 4rem 0;
  position: relative;
  width: 100% !important;
}
.blueBoxStyle * {
  color: #fff;
}
